.App {
  display: flex;
  justify-content: center;
}

.AppInputs {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  #divInputs {
    display: flex;
    gap: 10px;
  }
};